.container {
  padding: 0 25px;
}

.topbar {
  height: 50px;
  text-align: center;
  top: 0;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.icon-back {
  position: absolute;
  left: 0;
}

.btn-cart {
  color: white;
  border: none;
  width: 100%;
  height: 55px;
  background-color: #fa4a0c;
  border-radius: 22.5px;
  margin-top: 25px;
}

.btn-cart:disabled {
  background-color: #fa4b0c86;
}

.dish-card {
  background-color: var(--color-white);
  position: relative;
  display: flex;
  border-radius: 20px;
  padding: 15px 20px;
  align-items: center;
}

.dish-card:not(:first-child) {
  margin-top: 10px;
}

.dish-title {
  font-weight: 700;
}

.dish-price {
  margin-top: 10px;
  color: var(--color-orange);
}

.dish-image {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: -1px 12px 15px 0px rgba(171, 170, 170, 0.65);
}

.dish-info {
  margin-left: 15px;
}

.counter {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 16px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 30px;
  line-height: 13px;
}

.counter span {
  display: inline-block;
  padding: 4px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.total-description {
  color: var(--text-gray);
}

.total-value {
  color: var(--text-black);
  font-size: 22px;
}
