<div class="topbar">
  <i class="fa-solid fa-angle-left" routerLink="/dish"></i>
  <p>Checkout</p>
  <p class="empty">x</p>
</div>
<div class="title">
  <h1>Delivery</h1>
</div>

<div class="subtitle">
  <p>Address details</p>
  <p
    [ngClass]="isEditable ? 'change--orange' : 'change--blue'"
    (click)="handleClickChange()"
  >
    Change
  </p>
</div>

<div class="checkoutContainer">
  <form>
    <input
      name="name"
      [(ngModel)]="user.name"
      [disabled]="!isEditable"
      [value]="user.name"
      placeholder="Nombre"
    />
    <input
      name="phone"
      [(ngModel)]="user.phone"
      [disabled]="!isEditable"
      [value]="user.phone"
      placeholder="Phone"
    />
    <input
      name="address"
      [(ngModel)]="user.address"
      [disabled]="!isEditable"
      [value]="user.address"
      placeholder="Address"
    />
  </form>
</div>

<div class="totalContainer">
  <p>Total</p>
  <p style="font-weight: bold">{{ total | currency }}</p>
</div>

<div class="completeContainer">
  <button class="btn-cart" (click)="handleClickOrder()">Complete Order</button>
</div>
<app-navbar></app-navbar>
